---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import { Image } from 'astro:assets';
import phantom from '../icons/phantom.png';
import email from '../icons/email.png';
import github from '../icons/github.png';
import hl2 from '../icons/lambda.png';

const allPosts = await getCollection('blog');
---

<Layout>
  <div class="prose mx-auto p-4 flex justify-center">
    <h1 class="typewriter">Hello There! <span class="wave">👋</span></h1>
  </div>
  <div class='flex justify-center space-x-4'>
<a href="https://github.com/edericodev" class="badge">
  <Image src={github} alt="Icon" class="badge-icon" />
  <span class="badge-text">GitHub</span>
</a>
<a href="mailto:hello@ederico.dev" class="badge">
  <Image src={email} alt="Icon" class="badge-icon" />
  <span class="badge-text">Email Me!</span>
</a>
    <a href="https://open.spotify.com/playlist/7ujDwPWAJ3C3iyG4Zdq01s?si=5d335a313d1b4454" class="badge">
  <Image src={phantom} alt="Icon" class="badge-icon" />
  <span class="badge-text">Copy my mood</span>
</a>
<a href="https://ederico.dev/gaming" class="badge">
  <Image src={hl2} alt="Icon" class="badge-icon" />
  <span class="badge-text">Gaming</span>
</a>
</div>
<div class="prose mx-auto p-4">
    <hr>
    <p> My nickname is edericodev or edericogames (he/him) and I'm a 14 years-old beginner developer based in Italy. I love open source and I'm always looking for new ideas.</p>
    <p> Since birth I've always been a windows user. My favorite tools for exploring this awesome world include: VSCode, CodePen, GitHub , and Spotify as a support.</p>
    <p> I work daily with tons of frameworks, and some of them (Astro, Tailwind , MDX and vercel) are right on this site! <br>
    But i also love coding with simple code languages like C++ , Javascript , HTML and CSS (even if they're not coding languages).</p>
    <hr>
    <p> In my free time, i love to read, listen to music, play video games and , obiviously , learn new things. </p>
    <hr>
    <p> watch what i am doing right now:</p>
    <img src="https://api.statusbadges.me/badge/status/1121087277792251975" alt="status"> 
    <img src="https://api.statusbadges.me/badge/playing/1121087277792251975" alt="playing">
    <img src="https://api.statusbadges.me/badge/vscode/1121087277792251975" alt="vscode"> 
    <a href="https://api.statusbadges.me/openspotify/1121087277792251975" target="_blank" rel="noopener">
    <img src="https://api.statusbadges.me/badge/spotify/1121087277792251975" alt="spotify"></a>
  </div>
  <main class="prose mx-auto mt-8">
    <h2>Blog Posts</h2>
    <ul>
      {allPosts.map((post) => (
        <li><a href={`/blog/${post.slug}`} class="text-blue-500 hover:underline">{post.data.title}</a></li>
      ))}
    </ul>
  </main>
</Layout>
